body{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.parentcontainer{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.container{
    padding-left: 5px;
    background-color: rgb(78, 111, 139);
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 5px; 
}

#list{
    list-style: none;
}
#delbtn{
    margin-left: 25px;
}


